# ===== Token del bot (NO lo compartas con nadie) =====
DISCORD_TOKEN=pega_aqui_tu_token

# ID de tu servidor (opcional, hace que los comandos / aparezcan al instante)
GUILD_ID=

# ===== 1) Logs =====
LOG_CHANNEL_ID=
LOG_VOICE=true
LOG_BOTS=false

# ===== 2) Canales de voz temporales =====
MAIN_VOICE_CHANNEL_ID=
TEMP_VOICE_CATEGORY_ID=
TEMP_VOICE_LIMIT=10
TEMP_VOICE_NAME=Voz-{name}

# ===== 4) Streams =====
STREAM_ANNOUNCE_CHANNEL_ID=
STREAM_ROLE_IDS=
STREAM_MENTION=@everyone

# ===== Status del bot (bola amarilla + enlace) =====
STATUS_TEXT=loscolegones.com
STATUS_URL=https://loscolegones.com

# ===== General =====
TIMEZONE=Europe/Madrid
